#header-home {
  background-color: $primary;
  color: $white;
  text-align: center;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px auto 80px;
  align-items: center;
  justify-content: center;
  .btn {
    color: $white;
  }

  svg {
    max-height: 50%;
  }
}
