#recent-projects {
  .projects {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  .project {
      text-align: center;
      perspective: 1000px;
      padding: 0;
      background-image: url('/img/code.png');
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;

      &.hover .project-details {
        transform: rotateY(180deg);
      }

      .project-details {
      	transition: 0.25s;
        transition-timing-function: ease-out;
      	transform-style: preserve-3d;

      	position: relative;
        height: 100%;
      }

      .front, .back {
      	backface-visibility: hidden;

      	position: absolute;
      	top: 0;
      	left: 0;
        width: 100%;
        padding: $spacer*2;
        opacity: .9;
      }

      .front {
      	z-index: 2;
      	/* for firefox 31 */
      	transform: rotateY(0deg);
        display: grid;
        justify-content: center;
        align-items: center;
      }

      .back {
      	transform: rotateY(180deg);
        display: grid;
        justify-content: center;
        align-items: center;
      }




      img {
        max-height: 200px;
      }

      p {
        text-align: center;
        margin-top: $spacer*3;
        color: $white;
      }

      .btn {
        color: $white;
        border-color: $white;
      }

      .btn-link {
        border: 0;
        display: block;
      }
  }

  #project-1 {
    background-color: lighten(#181d23, 25%);
    .front, .back {
      background-color: #181d23;
    }
    .front {
      @include folded-corner(
          $page-padding: 0,
          $page-radius: 0,
          $page-background: #181d23,
          $fold-size: 48px,
          $fold-color: lighten(#181d23, 20%)
      );
    }
    .back {
      @include folded-corner-left(
          $page-padding: $spacer*2,
          $page-radius: 0,
          $page-background: #181d23,
          $fold-size: 48px,
          $fold-color: darken(#181d23, 5%)
      );
      padding: $spacer*2;
    }


    .btn-scroll {
      color: $white;
    }
  }
  #project-2 {
    background-color: lighten($danger, 25%);
    box-shadow: inset 0px 0px 30px rgba(0,0,0,.25);
    .front, .back {
      background-color: $danger;
    }
    .front {
      @include folded-corner(
          $page-padding: 0,
          $page-radius: 0,
          $page-background: $danger,
          $fold-size: 48px,
          $fold-color: lighten($danger, 20%)
      );
    }
    .back {
      @include folded-corner-left(
          $page-padding: $spacer*2,
          $page-radius: 0,
          $page-background: $danger,
          $fold-size: 48px,
          $fold-color: darken($danger, 5%)
      );
      padding: $spacer*2;
    }
  }
}

@include media-breakpoint-up(md) {
  #recent-projects .project {
    .btn-link {
      display: none;
    }

    &:hover .project-details {
      transform: rotateY(180deg);
    }
  }
}
