#recent-projects {
  .projects {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  .project {
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 $spacer*2;

      img {
        max-width: 50%;
      }

      p {
        text-align: center;
        margin-top: $spacer*3;
        color: $white;
      }

      .btn {
        color: $white;
        border-color: $white;
      }

      .btn-link {
        border: 0;
        display: block;
      }
  }

  #project-1 {
    background-color: #181d23;

    .btn-scroll {
      color: $white;
    }
  }
  #project-2 {
    background-color: $danger;
  }
}

@include media-breakpoint-up(md) {
  #recent-projects .project {
    .btn-link {
      display: none;
    }
  }
}
