body,
html,
#app,
#app>.row,
#app>.row>div {
  height: 100%;
}

#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-to-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  color: $white;
  &.active {
    display: block;
  }
}




#about {
  padding: $spacer*5 0;
  background-color: darken($primary, 15%);
  color: $white;

  .about-header {
    display: grid;
    align-items: center;
    justify-content: center;
    &-inner {
        @include clearfix;
    }

    h2 {
      font-family: 'Permanent Marker', cursive;
      margin-left: $spacer;
      float: left;
      transform: rotate(-10deg);
      font-size: 2.25rem;
    }
    img {
      max-width: 120px;
      border-radius: 120px;
      margin-bottom: $spacer*3;
      float: left;
    }
  }
}

#skills {
  padding: $spacer*10 0;
  background-color: darken($primary, 25%);
  color: $white;
}

#learn-more {
  padding: $spacer*10 0;
  background-color: darken($primary, 35%);
  color: $white;
}

#footer {
  padding: $spacer*3 0;
  background-color: darken($primary, 45%);
  color: transparentize($white, .3);
  .container {
    @include clearfix;
  }

  .logo {
    width: 25%;
    float: left;
  }

  .numbers {
    margin-left: $spacer;
    width: calc(75% - #{$spacer});
    float: left;
    p,
    a {
      color: transparentize($white, .3);
    }
    p {
      margin-bottom: $spacer/2;
    }
  }

  .socials {
    padding-top: $spacer*2;
    width: 100%;
    float: left;
    a {
      display: inline-block;
      width: 50%;
      text-align: center;
      &:hover {

      }
    }
    svg {
      width: 80px;
      height: 40px;
      max-height: 40px;
    }
  }
}

.btn-call {
  color: $white;
  border-color: $white;
  span {
    font-weight: 900;
  }
}

// MEDIA ADJUSTMENTS
// -------------------------------
@include media-breakpoint-up(md) {
  p {
    font-size: 1.5rem;
  }

  #footer {
    .logo {
      svg {
        width: 88px;
      }
    }
    .numbers {
      width: calc(75% - #{$spacer} - 80px);
      p {
        font-size: 1rem;
      }
    }
    .socials {
      width: 80px;
      padding-top: 0;
      a {
        display: block;
      }
    }
  }

  #about {
    .about-header {
      h2 {
        font-size: 4rem;
        margin-left: 3rem;
      }
    }
  }
}
