body,
html,
#app,
#app>.row,
#app>.row>div {
  height: 100%;
}

#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#about {
  padding: $spacer*10 0;
  background-color: darken($primary, 15%);
  color: $white;
}

#skills {
  padding: $spacer*10 0;
  background-color: darken($primary, 25%);
  color: $white;
}

#learn-more {
  padding: $spacer*10 0;
  background-color: darken($primary, 35%);
  color: $white;
}

#footer {
  padding: $spacer*3 0;
  background-color: darken($primary, 45%);
  color: $white;

  a {
    color: $white;
  }

  svg {
    max-height: 80px;
  }
}

.btn-call {
  color: $white;
  border-color: $white;
  span {
    font-weight: 900;
  }
}

// MEDIA ADJUSTMENTS
// -------------------------------
@include media-breakpoint-up(md) {
  p {
    font-size: 1.5rem;
  }

  footer p {
    font-size: 1rem;
  }
}
