body,
html,
#app,
#app>.row,
#app>.row>div {
  height: 100%;
}

#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-to-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  color: $white;
  &.active {
    display: block;
  }
}




#about {
  padding: $spacer*5 0;
  background-color: darken($primary, 15%);
  color: $white;

  img {
    max-width: 120px;
    border-radius: 120px;
    margin-bottom: $spacer*3;
  }

  .col-12 {
    text-align: center;
  }
  >div {
    display: grid;
    grid-template-columns: 120px auto;

    img {
      margin-right: $spacer*2;
    }

    p {
      margin-left: $spacer*2;
    }
  }

}

#skills {
  padding: $spacer*10 0;
  background-color: darken($primary, 25%);
  color: $white;
}

#learn-more {
  padding: $spacer*10 0;
  background-color: darken($primary, 35%);
  color: $white;
}

#footer {
  padding: $spacer*3 0;
  background-color: darken($primary, 45%);
  color: transparentize($white, .7);

  .socials {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    svg {
      height: 80px;
      width: 65px;
    }
  }

  a {
    color: transparentize($white, .7);
  }

  svg {
    max-height: 80px;
  }
}

.btn-call {
  color: $white;
  border-color: $white;
  span {
    font-weight: 900;
  }
}

// MEDIA ADJUSTMENTS
// -------------------------------
@include media-breakpoint-up(md) {
  p {
    font-size: 1.5rem;
  }

  footer p {
    font-size: 1rem;
  }

  #about img {
    max-width: 100%;
    border-radius: 0;
  }
}
