// Libraries
// ---------------------------------------------------------
@import "./../../node_modules/bootstrap/scss/_functions";
@import "./../../node_modules/bootstrap/scss/_mixins";
@import './../../node_modules/bootstrap/scss/_variables';
@import './variables';
@import './../../node_modules/bootstrap/scss/bootstrap';

// Fonts
// ---------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,900');

// Partials
// ---------------------------------------------------------
@import './partials/_structure';
@import './partials/_animations';
@import './partials/_recent-projects';
@import './partials/_home-header';
@import './partials/_skills';

// Utility
// ---------------------------------------------------------
.hide {
  display: none !important;
}

.no-pad {
  padding: 0;
}


img.test {
  -webkit-filter: opacity(.7);
  filter: opacity(.7);
}
